<!-- Bootstrap core CSS-->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template-->
<link href="/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link href="/datatables/dataTables.bootstrap4.css" rel="stylesheet">
<!-- Custom styles for this template-->
<link href="/css/sb-admin.css" rel="stylesheet">