{extends file='main.tpl'}

{$page_name = "Mission"}

{block name='title'} - {$page_name}{/block}
{block name='page_header'}{$page_name}{/block}
{block name='page_content'}
    <div class="row">
    </div>

    <h1>- Assemble vessel</h1>
    <h1>- Deploy complete launch vehicle to launchpad</h1>
    <h1>- Launch</h1>
    <h1>- Do stuff mid orbit</h1>
{/block}

{block name='extra_scripts'}{/block}